<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Home</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  </head>
  <body>
    <h1 class="home-header">HOME PAGE</h1>
    <h2 class="animals">Animals:</h2>

    <ul class="animal-list">
      <% animals.forEach(function(animal) { %>
      <li class="animal-li">
        <a href="/detail?name=<%= animal.name %>">
          <%= animal.name.charAt(0).toUpperCase() + animal.name.slice(1) %></a
        >
      </li>
      <% }); %>
    </ul>
    <ul class="react-ul">
        <li class="react-link"><a href="/react">React Homepage</a></li>
        <li class="react-link"><a href="/api/animals">API Animals List</a></li>
    </ul>
  </body>
</html>
