<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Home</title>
</head>
<body>
    <h1 class="home-header">HOME PAGE</h1>
    <h2 class="animals">
        Animals:
    </h2>

    <ul class="animal-list">
        <% data.forEach(function(data) { %>
            <li class="animal-li"><a href="/detail?name=<%= data.name %>"> <%= data.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>